In [137]:
import numpy as np
import pandas as pd
import matplotlib as plot

# Data Handling

In [138]:
def clean_dataframe(df):

    df = df.drop(df.columns[0], axis=1)
    df = df.dropna(axis=0, subset=['star_1','star_2','star_3'])
    df = df.dropna(subset=['Length Of Movie (minute)'])
    df = df.dropna(subset=['idbm_year'])
    df["idbm_year"] = df["idbm_year"].astype(int)
    df = df[df.year == df.idbm_year]
    df = df.reset_index(drop=True)

    return df

In this function, we reformat the length of the movie - from an hour and min to min

In [139]:
def handling_length_of_movie(df):
    length_in_minute = []
    length_col = df["length"].fillna("")
    for row in range(length_col.shape[0]):
        if any(char.isdigit() for char in length_col[row]) and 'TV' not in length_col[row] and 'PG' not in length_col[row]:
            time_minute = length_col[row].split(" ")
            if len(time_minute) == 2:
                hour = list(time_minute[0])
                hour_dig = list(hour)
                h = int(''.join(hour_dig[:-1])) * 60
                
                minute = list(time_minute[1])
                minute_dig = list(minute)
                m = int(''.join(minute_dig[:-1]))
                
                length_in_minute.append(int(m + h))
            elif len(time_minute) == 1:
                time = list(time_minute[0])
                time_dig = list(time)
                if hour_dig[-1] == 'h':
                    t = int(''.join(hour_dig[:-1]))
                else:
                    t = int(''.join(hour_dig[:-1])) * 60
                length_in_minute.append(t) 
        else:
            length_in_minute.append(np.nan)
            
    df.insert(2, "Length Of Movie (minute)", length_in_minute, True)
    df = df.drop('length', 1)
    return df

In this function we change a table to numeric - every genre will have a number, we do that for the ML.

In [140]:
def change_to_numeric(df, col_to_change):  ##[genre_1, genre_2,genre_3]
    values_dict = dict()
    values_dict[np.nan] = 0
    value = 1
    number_of_col = len(col_to_change)
    for i in range(number_of_col):
        genres = df[col_to_change[i]]
        for genre in genres:
            if genre not in values_dict:
                values_dict[genre] = value
                value += 1
                
    for i in range(number_of_col):
        df = df.replace({col_to_change[i]:values_dict})
    return df

In [141]:
df = pd.read_csv('movie_wiki_done.csv')
df = handling_length_of_movie(df)
df

# df.describe(include='all')

,Unnamed: 0,name,Length Of Movie (minute),year,idbm_year,gender_director,director_1,writer_1,writer_2,writer_3,star_1,star_2,star_3,genre_1,genre_2,genre_3,rating
0,0,Adam at Six A.M.,100.0,1970,1970,1,Robert Scheerer,Stephen Karpf,Elinor Karpf,NaN,Michael Douglas,Lee Purcell,Joe Don Baker,Drama,NaN,NaN,5.7
1,1,Adam's Woman,116.0,1970,1970,1,Philip Leacock,Richard Fielder,Lowell Barrington,NaN,Beau Bridges,John Mills,Jane Merrow,Drama,NaN,NaN,6.3
2,2,The Adventurers,171.0,1970,1970,1,Lewis Gilbert,Michael Hastings,Lewis Gilbert,Harold Robbins,Charles Aznavour,Alan Badel,Candice Bergen,Action,Adventure,Drama,5.4
3,3,Airport,137.0,1970,1970,1,George Seaton,Arthur Hailey,George Seaton,NaN,Burt Lancaster,Dean Martin,George Kennedy,Action,Drama,Thriller,6.6
4,4,Alex in Wonderland,110.0,1970,1970,1,Paul Mazursky,Paul Mazursky,Larry Tucker,NaN,Donald Sutherland,Ellen Burstyn,Meg Mazursky,Comedy,Drama,NaN,5.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11252,11252,We Can Be Heroes,100.0,2020,2020,1,Robert Rodriguez,Robert Rodriguez,Sara Endsley,Dan Foos,YaYa Gosselin,Pedro Pascal,Priyanka Chopra Jonas,Action,Comedy,Drama,4.7
11253,11253,News of the World,118.0,2020,2020,1,Paul Greengrass,Paul Greengrass,Luke Davies,Paulette Jiles,Tom Hanks,Helena Zengel,Tom Astor,Action,Adventure,Drama,6.8
11254,11254,One Night in Miami...,114.0,2020,2020,0,Regina King,Kemp Powers,NaN,NaN,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,Drama,NaN,NaN,7.1
11255,11255,Promising Young Woman,113.0,2020,2020,0,Emerald Fennell,Emerald Fennell,NaN,NaN,Carey Mulligan,Bo Burnham,Alison Brie,Crime,Drama,Mystery,7.5
11256,11256,Pieces of a Woman,126.0,2020,2020,1,Kornél Mundruczó,Kata Wéber,NaN,NaN,Vanessa Kirby,Shia LaBeouf,Ellen Burstyn,Drama,NaN,NaN,7.1

In [142]:
df = clean_dataframe(df)

In [143]:
df

,name,Length Of Movie (minute),year,idbm_year,gender_director,director_1,writer_1,writer_2,writer_3,star_1,star_2,star_3,genre_1,genre_2,genre_3,rating
0,Adam at Six A.M.,100.0,1970,1970,1,Robert Scheerer,Stephen Karpf,Elinor Karpf,NaN,Michael Douglas,Lee Purcell,Joe Don Baker,Drama,NaN,NaN,5.7
1,Adam's Woman,116.0,1970,1970,1,Philip Leacock,Richard Fielder,Lowell Barrington,NaN,Beau Bridges,John Mills,Jane Merrow,Drama,NaN,NaN,6.3
2,The Adventurers,171.0,1970,1970,1,Lewis Gilbert,Michael Hastings,Lewis Gilbert,Harold Robbins,Charles Aznavour,Alan Badel,Candice Bergen,Action,Adventure,Drama,5.4
3,Airport,137.0,1970,1970,1,George Seaton,Arthur Hailey,George Seaton,NaN,Burt Lancaster,Dean Martin,George Kennedy,Action,Drama,Thriller,6.6
4,Alex in Wonderland,110.0,1970,1970,1,Paul Mazursky,Paul Mazursky,Larry Tucker,NaN,Donald Sutherland,Ellen Burstyn,Meg Mazursky,Comedy,Drama,NaN,5.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7984,We Can Be Heroes,100.0,2020,2020,1,Robert Rodriguez,Robert Rodriguez,Sara Endsley,Dan Foos,YaYa Gosselin,Pedro Pascal,Priyanka Chopra Jonas,Action,Comedy,Drama,4.7
7985,News of the World,118.0,2020,2020,1,Paul Greengrass,Paul Greengrass,Luke Davies,Paulette Jiles,Tom Hanks,Helena Zengel,Tom Astor,Action,Adventure,Drama,6.8
7986,One Night in Miami...,114.0,2020,2020,0,Regina King,Kemp Powers,NaN,NaN,Kingsley Ben-Adir,Eli Goree,Aldis Hodge,Drama,NaN,NaN,7.1
7987,Promising Young Woman,113.0,2020,2020,0,Emerald Fennell,Emerald Fennell,NaN,NaN,Carey Mulligan,Bo Burnham,Alison Brie,Crime,Drama,Mystery,7.5
7988,Pieces of a Woman,126.0,2020,2020,1,Kornél Mundruczó,Kata Wéber,NaN,NaN,Vanessa Kirby,Shia LaBeouf,Ellen Burstyn,Drama,NaN,NaN,7.1

In [144]:
df.describe(include='all')

,name,Length Of Movie (minute),year,idbm_year,gender_director,director_1,writer_1,writer_2,writer_3,star_1,star_2,star_3,genre_1,genre_2,genre_3,rating
count,7989,7989.000000,7989.000000,7989.000000,7989.000000,7989,7989,5393,2718,7989,7989,7989,7988,7015,4774,7988.000000
unique,7898,NaN,NaN,NaN,NaN,3340,4911,3793,2185,3068,4013,4847,20,22,20,NaN
top,Aquaman,NaN,NaN,NaN,NaN,Woody Allen,Woody Allen,Ethan Coen,Stan Lee,Tom Hanks,Samuel L. Jackson,Morgan Freeman,Comedy,Drama,Thriller,NaN
freq,2,NaN,NaN,NaN,NaN,39,38,17,9,43,25,16,2460,1978,787,NaN
mean,NaN,103.633246,1997.452497,1997.452497,0.951684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.202316
std,NaN,21.308690,14.233738,14.233738,0.214447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.028250
min,NaN,1.000000,1970.000000,1970.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.100000
25%,NaN,93.000000,1987.000000,1987.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.600000
50%,NaN,101.000000,1998.000000,1998.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.300000
75%,NaN,113.000000,2010.000000,2010.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.900000
max,NaN,278.000000,2020.000000,2020.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.300000

In [145]:


df.to_csv('movie_table_finish.csv')

Data Acquisition phase completed.